
@{
    ViewData["Title"] = "Reception";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <h4><b>Indicate Expected Guests</b></h4>
            <form asp-action="IndicateExpectedGuests" method="get">
                <div class="form-group">
                    <p>Indicate expected number of guests at breakfast</p>
                    <p>Kitchen staff will need this everyday</p>
                    <input type="submit" value="Indicate" class="btn btn-hotel"/>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <h4><b>List Restaurant Check Ins</b></h4>
            <form asp-action="ListRestaurantCheckIns" method="get">
                <div class="form-group">
                    <label class="control-label">Date:</label>
                    <input type="date" name="datetime" class="form-control col-lg-6" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-hotel" />
                </div>
            </form>
        </div>
    </div>
</div>

