
@{
    ViewData["Title"] = "Reception";
}

<h1>@ViewData["Title"]</h1>

<div>
    <br />
    <h6><b>Indicate Expected Guests</b></h6>
    <form asp-action="IndicateExpectedGuests" method="get">
        <div class="form-group">
            <input type="submit" value="Indicate" class="btn btn-primary" />
        </div>
    </form>
    <br />
    <h6><b>List Restaurant CheckIns (today)</b></h6>
    <form asp-action="ListRestaurantCheckIns" method="get">
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
    </form>
</div>

