
@{
    ViewData["Title"] = "ManageUsers";
}

@model List<KeyValuePair<string, string>>

@foreach (var user in Model)
{
    <div class="row">
        <div class="col-6 col-md-4">
            <p style="margin-top: .5rem;">@user.Value</p>
        </div>
        <div class="col-6 col-md-4">
            <a type="button" class="btn btn-hotel" asp-controller="Admin" asp-action="EditUserClaims" asp-route-userId="@user.Key">Edit claims</a>
        </div>
    </div>
}