
@{
    ViewData["Title"] = "ManageUsers";
}

@model List<KeyValuePair<string, string>>

@foreach (var user in Model)
{
    <div class="row">
        <div class="col-xs-9 col-md-4">
            <p>@user.Value</p>
        </div>
        <div class="col-xs-3 col-md-2">
            <a asp-controller="Admin" asp-action="EditUserClaims" asp-route-userId="@user.Key">edit claims</a>
        </div>
    </div>
}