@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="row">
            <div class="col-sm-6">
                <a asp-controller="Home" asp-action="Index">
                    <div class="hotelButton">
                        <img class="center-block img-responsive" src="images/reception.png" />
                        <h4>Reception</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a asp-controller="Home" asp-action="Index">
                    <div class="hotelButton">
                        <img class="center-block img-responsive" src="images/restuarant.png" />
                        <h4>Restaurant</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a asp-controller="Home" asp-action="Index">
                    <div class="hotelButton">
                        <img class="center-block img-responsive" src="images/kitchen.png" />
                        <h4>Kitchen</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a asp-controller="Home" asp-action="Index">
                    <div class="hotelButton">
                        <img class="center-block img-responsive" src="images/admin.png" />
                        <h4>Admin</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
